<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Zainal_PPL_Inventory.Properties.Settings.SMKInventoryDBConnectionString"
            connectionString="Data Source=DESKTOP-40C57RP;Initial Catalog=SMKInventoryDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
